/* Style the default */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header {
    /* Add styles for the header here */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #228B22;
    color: #fff;
}

.description {
    /* Add styles for the description class here */
    text-align: center;
    margin: 10px 0;
    padding: 30px;
}

.description p {
    text-align: left;
}
  
/* Style the grid container */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    text-decoration: none;
}
  
/* Style the grid items */
.grid-item {
    background-color: #99CCFF;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

.grid-item a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
}

.grid-item:hover {
    text-decoration: none;
    background-color: #0066CC;
}